@model IEnumerable<Nhom1_DeTai1.Models.Product>
@{
    ViewData["Title"] = "ProductByBrand";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!--page header start here-->
<div class="mg-page-header-section mg-page-header-style">
    <div class="mg-page-header-inner">
        <div class="container">
            <div class="mg-page-header-text">
                <div class="mg-page-header-heading">
                    <h3>Shop Our Products</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--page header end here-->
<!--grid section start here-->
<div class="mg-grid-section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 col-6">
                    <div class="mg-tab-grid-box">
                        <div class="mg-tab-img-box">
                            <div class="mg-tabs-img">
                                <a href="/Products/ProductDetails?id=@item.ProductId"><img src="~/@item.ProductImage" alt=""></a>
                            </div>
                            <div class="mg-overlay">
                                <div class="mg-overlay-icon-box">
                                    <div class="mg-overlay-icon text-end">
                                        <a class="mg-quick-view-modal-btn" href="javascript:void(0);">
                                            <img src="~/assets/images/icons/Icon-material-remove-red-eye.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="mg-overlay-icon text-end">
                                        <a href="javascript:void(0);">
                                            <img src="~/assets/images/icons/Icon-material-compare-arrows.svg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="mg-atc-overlay">
                                <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.ProductId">
                                    <div class="mg-cart-box">
                                        ADD TO CART
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="mg-tab-text mt-3">
                            <div class="mg-tab-text-top d-flex justify-content-between align-items-center">
                                <div class="mg-small-heading">
                                    <a class="text-decoration-none" href="shop.html"><span>@item.Category.CategoryName</span></a>
                                </div>
                                <div class="mg-wishlist-icon">
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/images/icons/heart.svg" alt="">
                                    </a>
                                </div>
                            </div>
                            <a class="text-decoration-none" href="/Products/ProductDetails?id=@item.ProductId"><h5>@item.ProductName</h5></a>
                            <div class="mg-pricing">@item.ProductPrice</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--grid section end here-->
<!--Category top rated products and text overlay section start here-->
<div>
    <div class="container">
        <div class="mg-custom-section2">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                    <div class="mg-category">
                        <div class="mg-category-heading">
                            <h5>Category</h5>
                        </div>
                        <ul class="list-group">
                            @await Component.InvokeAsync("CategoryMenuListGroup")
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-7 col-12">
                    <div class="mg-toprated-grid2">
                        <div class="mg-toprated-heading">
                            <h5>Top Rated Products</h5>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="mg-toprated-grid">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-3">
                                                <div class="mg-toprated-thumb-img">
                                                    <a href="single-product.html"><img src="~/assets/images/gallery/small-thumb-1.jpg" alt=""></a>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-9 ps-0 mt-2 mt-md-0 mt-sm-1">
                                                <div class="mg-toprated-text">
                                                    <a href="shop.html"><span>TABLET</span></a>
                                                    <a class="text-decoration-none" href="single-product.html"><h6>APPLE iPad (9th Gen)</h6></a>
                                                    <div class="mg-pricing">$20.03</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="mg-toprated-grid">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-3">
                                                <div class="mg-toprated-thumb-img">
                                                    <a href="single-product.html"><img src="~/assets/images/gallery/small-thumb-2.jpg" alt=""></a>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-9 ps-0 mt-2 mt-md-0 mt-sm-1">
                                                <div class="mg-toprated-text">
                                                    <a href="shop.html"><span>SMART WATCH</span></a>
                                                    <a class="text-decoration-none" href="single-product.html"><h6>Noise Smartwatch</h6></a>
                                                    <div class="mg-pricing">$20.03</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="mg-toprated-grid">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-3">
                                                <div class="mg-toprated-thumb-img">
                                                    <a href="single-product.html"><img src="~/assets/images/gallery/small-thumb-3.jpg" alt=""></a>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-9 ps-0 mt-2 mt-md-0 mt-sm-1">
                                                <div class="mg-toprated-text">
                                                    <a href="shop.html"><span>VIDEO GAME</span></a>
                                                    <a class="text-decoration-none" href="single-product.html"><h6>Redgear Pro Gamepad</h6></a>
                                                    <div class="mg-pricing">$20.03</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="mg-text-bg-style3 mg-text-bg-image3">
                        <div class="mg-img-bg-text">
                            <div>
                                <span>TOP DEALS</span>
                                <h6>APPLE 2022<br> MacBook AIR M2</h6>
                                <a class="btn btn-lg" href="shop.html">SHOP NOW  <i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Category top rated products and text overlay section end here-->

