
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!--page header start here-->
        <div class="mg-page-header-section6 mg-page-header-style mg-margin-bottom-0">
            <div class="mg-page-header-inner">
                <div class="container">
                    <div class="mg-page-header-text">
                        <div class="mg-page-header-heading">
                            <h3>Checkout</h3>
                        </div>
                        <div class="mg-breadcrumb">
                            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a class="text-decoration-none" href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active">Checkout</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--page header end here-->
        <!--checkout tab section start here-->
        <div class="mg-checkout-tab">
            <div class="mg-tabs-section">
                <div class="container">
                    <div class="mg-tabs-box mt-3">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="Featured-tab" data-bs-toggle="tab" data-bs-target="#Featured" type="button" role="tab" aria-controls="Featured" aria-selected="true">BILLING DETAILS</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Bestseller-tab" data-bs-toggle="tab" data-bs-target="#Bestseller" type="button" role="tab" aria-controls="Bestseller" aria-selected="false">PLACE YOUR ORDER</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="Featured" role="tabpanel" aria-labelledby="Featured">
                                <div class="mg-checkout-tab-content1">
                                    <div class="mg-co-cupon-box">
                                        <span>Have a coupon?<a href="javascript:void(0);">Click here to enter code</a></span>
                                    </div>
                                    <div class="mg-co-form">
                                        <div class="mg-co-form-heading">
                                            <h5>Billing Details</h5>
                                        </div>
                                        <form method="post">
                                            @using(Html.BeginForm("SaveOrder", "Cart", FormMethod.Post))
                                            {
                                        <div class="mg-form-main">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <div class="mg-form-input-field">
                                                        <input type="text" name="CustomerFirstName" placeholder="First Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <div class="mg-form-input-field">
                                                        <input type="text" name="CustomerLastName" placeholder="Last Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="mg-form-input-field">
                                                        <input type="text" name="CustomerAddress" placeholder="Address">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            }
                                        </form>
                                    </div>
                                    <div class="mg-co-check">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Create an account
                                            </label>
                                        </div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                        </p>
                                    </div>
                                    <div class="mg-co-add-more-info">
                                        <a href="javascript:void(0);" onclick="$('#Toprated-tab').tab('show');">Add Additional Information <i class="fa-solid fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Top-rated" role="tabpanel">
                                <div class="mg-checkout-tab-content2">
                                    <div class="mg-co-form">
                                        <div class="mg-co-form-heading">
                                            <h5>Additional Information</h5>
                                        </div>
                                        <form>
                                            <div class="mg-form-main">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                        <div class="mg-form-textarea">
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                                Order notes(Optional)
                                                            </label>
                                                            <textarea placeholder="Note about your order, e.g special note for delivery"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="mg-co-add-more-info">
                                        <a href="javascript:void(0);" onclick="$('#Bestseller-tab').tab('show');">View Order <i class="fa-solid fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Bestseller" role="tabpanel">
                                <div class="mg-checkout-tab-content3">
                                    <div class="mg-co-order-details">
                                        <div class="mg-co-order-details-heading">
                                            <h5>Your order</h5>
                                        </div>
                                        <div class="mg-co-order-table">
                                            <div class="mg-cpd-table table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>PRODUCTS</th>
                                                            <th>QUANTITY</th>
                                                            <th>SUBTOTAL</th>
                                                            <th>TOTAL</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="mg-product-img-qyt">
                                                                    <div class="mg-cpd-qty">
                                                                        <a href="#"><span>AMKETTE</span></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="mg-cpd-qty">
                                                                        <a href="#"><span>1</span></a>
                                                                    </div>
                                                            </td>
                                                            <td class="align-middle">
                                                                <div class="mg-cpd-price">
                                                                    <span>$22.00</span>
                                                                </div>
                                                            </td>
                                                            <td class="align-middle">
                                                                <div class="mg-cpd-price">
                                                                    <span>$22.00</span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mg-co-radio">
                                        <div class="form-check mg-radio">
                                            <input class="form-check-input" type="radio" name="mg-co-radio" id="mg-co-radio1" value="option1" checked>
                                            <label class="form-check-label" for="mg-co-radio1">DIRECT BANK TRANSFER</label>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            </p>
                                        </div>
                                        <div class="form-check mg-radio">
                                            <input class="form-check-input" type="radio" name="mg-co-radio" id="mg-co-radio2" value="option2">
                                            <label class="form-check-label" for="mg-co-radio2">CHECK PAYMENTS</label>
                                        </div>
                                        <div class="form-check mg-radio">
                                            <input class="form-check-input" type="radio" name="mg-co-radio" id="mg-co-radio3" value="option3">
                                            <label class="form-check-label" for="mg-co-radio3">PAYPAL <a href="#">What is paypal?</a></label>
                                        </div>
                                    </div>
                                    <div class="mg-co-add-more-info">
                                        <a href="/Cart/SaveOrder">Place Your Order <i class="fa-solid fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--checkout tab section end here-->

