@using System.Security.Claims;
@*@model Nhom1_DeTai1.Models.ViewModels.SmallCartViewModel*@
@model dynamic;
<div class="container">
    <div class="row gx-0 gx-md-2 align-items-center">
        <div class="col-md-3 col-lg-3 col-5">
            <div class="header-logo">
                <a class="mg-logo text-decoration-none" href="/Home">NHÓM 1</a>
            </div>
        </div>
        <div class="col-md-5 col-lg-6 col-2 order-3 order-md-0 d-flex d-md-block justify-content-end justify-content-md-start text-end">
            <div>
                <div class="mg-menu-overlay"></div>
                <nav class="mg-menu" id="menu">
                    <div class="menu-mobile-header">
                        <button type="button" class="menu-mobile-arrow"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                        <div class="menu-mobile-title"></div>
                        <button type="button" class="menu-mobile-close"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                    <ul class="menu-section mg-menu-outer">
                        <li class="menu-item-has-children">
                            <a class="active-menu" href="/Home">HOME</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="javascript:void(0);">SHOP <i class="fa-solid fa-caret-down"></i></a>
                            <div class="mg-sub-menu-outer">
                                <div class="menu-subs">
                                    <ul>
                                        @(await Component.InvokeAsync("CategoryMenu"))
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item"><a asp-action="Contact">CONTACT</a></li>
                        <li class="menu-item"><a asp-action="AboutUs">ABOUT US</a></li>
                        @{
                            var Urname = "Guest";
                            var UrId = "404";
                            if (GlobalVariables.MyGlobalVariable)
                            {
                                var identity = (ClaimsPrincipal)GlobalVariables.CurrentPrinciple;
                                Urname = identity.Claims.Where(c => c.Type == ClaimTypes.Name)
                                .Select(c => c.Value).SingleOrDefault();
                                UrId = identity.Claims.Where(c => c.Type == ClaimTypes.NameIdentifier)
                                .Select(c => c.Value).SingleOrDefault();
                                if (User.IsInRole("Administrator"))
                                {
                                    <li class="menu-item"><a href="/Admin">ADMIN</a></li>
                                }
                                else
                                {
                                    <li class="menu-item"> <a asp-action="Details" asp-controller="Account" asp-route-id="@UrId"> <td>USERPROFILE</td></a> </li>
                                }
                            }
                        }
                        @*<li class="menu-item"><a href="/Admin">ADMIN</a></li>*@
                    </ul>
                </nav>
                <div>
                    <button type="button" class="menu-mobile-toggle mg-burger-menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-5 text-end">
            <div class="row">
                <div class="col-12 col-lg-12 col-md-12">
                    <div class="header-icons-outer">
                        <ul>
                            <li class="mg-login-box">
                                <div class="mg-login">
                                @{

                                    if (GlobalVariables.MyGlobalVariable)
                                    {
                                        var identity = (ClaimsPrincipal)GlobalVariables.CurrentPrinciple;
                                        Urname = identity.Claims.Where(c => c.Type == "FullName")
                                        .Select(c => c.Value).SingleOrDefault();
                                    }
                                    else Urname = "Guest";
                                    <span> Welcome @Urname</span> <br>
                                    if (GlobalVariables.MyGlobalVariable)
                                    {
                                        <a asp-controller="Account" asp-action="Logout">LOGOUT</a>
                                    }
                                    else
                                    {
                                        <a class="mg-login-link" href="/Account/Login">LOGIN</a> <span>/</span>
                                        <a class="" href="/Account/SignUp">SIGNUP</a>
                                    }
                                }
                                </div>
                            </li>
                            <li>
                                <a href="wishlist.html">
                                    <img src="~/assets/images/icons/heart.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="/Cart">
                                    <img src="~/assets/images/icons/Icon-feather-shopping-bag.svg" alt="">
                                </a>
                            </li>
                            <li class="mg-profile-icon">
                                <a href="profile.html">
                                    <img src="~/assets/images/icons/profile-icon.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>